.TaskItem {
  margin-top: 20px;
  background: var(--primaryOpacityBtn);
  border: 1px solid #F5F5F5;
  border-radius: 8px;
  padding: 25px 35px;
  .title {
    display: grid;
    grid-template-columns: 1fr auto;
    .name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 700;
      font-size: 28px;
    }
    .status {
      margin-top: 5px;
      font-size: 18px;
      &.await {
        color: #adad01;
      }
      &.reject {
        color: #b70000;
      }
      &.access {
        color: #00be00;
      }
    }
  }
  .description {
    margin-top: 10px;
    span {
      margin-right: 10px;
      text-transform: uppercase;
      color: var(--grayColor);
    }
  }
  .moreBtn {
    margin-top: 10px;
  }
  .main {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 20px;
    .resultBox {
      max-width: 500px;
      .link {
      }
      .result {
        margin-top: 20px;
        .time {
          display: flex;
          column-gap: 20px;
          input {
            width: 100px;
          }
        }
        .amount {
          input {
            width: 152px;
          }
        }
        .weight {
          display: flex;
          column-gap: 20px;
          input {
            width: 100px;
          }
        }
      }
    }
    .btnBox {
      align-self: end;
      min-width: 300px;
      max-width: 400px;
    }
  }
  &.await {
    border: 1px solid gray;
    .title {
      .status {
        color: gray;
      }
    }
  }
  &.access {
    border: 1px solid green;
    .title {
      .status {
        color: green;
      }
    }
  }
  &.reject {
    border: 1px solid red;
    .title {
      .status {
        color: red;
      }
    }
  }
}
