.TournamentDescription {
  padding: 20px 0;
  .title {
    font-weight: 700;
    font-size: 48px;
  }
  .text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
  }
}
